<footer class="site-footer">

  <div class="wrapper">

  	<img class="beardless" src="{{ site.baseurl }}/assets/krol.jpg" alt="Kristoffer Olsson">
    
    <h4 class="title">Let's talk</h4>
    
    <p>Curious to know more about how I can contribute to the development of your business?</p>

    <p>
      <span class="phone"><strong>Phone:</strong> +46 708 – 138 138</span>
      <span class="email"><strong>Email:</strong> <a href="mailto:{{site.email}}">{{site.email}}</a></span>
    </p>

   <a class="button" href="https://se.linkedin.com/in/{{ site.linkedin_username }}" target="_blank">
    Linkedin
  </a>

  </div>

</footer>
