<header class="site-header">
    
    <div class="fill">
      
      <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
    
    </div>

    <div>

      <button class="button" onclick="showme()">Say hi</button>

        
      </div>

</header>

    {% if page.image %}


<section class="banner" style="background-image:url({{page.image}})">
  <div class="wrapper">
    <h1 class="banner-title">{{page.title}}</h1>
    <h3 class="subject">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</h3>
  </div>
</section>
      

    {% else %}

<section class="banner default">
  <div class="wrapper">
    
    <h1 class="banner-title">Hi, I'm Kristoffer</h1>
    <h3 class="subject">{{site.description}}</h3>

    <div class="scrollme">
      <svg width="48px" height="48px" viewBox="0 0 48 48" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">

    <title>Arrow_scroll</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
        <g id="Arrow_scroll" sketch:type="MSArtboardGroup" stroke="#FFFFFF" stroke-width="5" stroke-linecap="square">
            <path d="M4.45141602,22.2721142 L24.059648,41.2889134 L43.6530762,22.2721142" id="Line" sketch:type="MSShapeGroup"></path>
        </g>
    </g>
  </svg>
    </div>
  </div>
  
</section>

{% endif %}
