<header class="site-header">
    
    
    <a class="site-title" href="{{ site.baseurl }}/" title="{{ site.title }}">

      <svg preserveAspectRatio="xMinYMin meet" width="550px" height="126px" viewBox="0 0 550 126" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
      <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
          <g id="512" sketch:type="MSArtboardGroup">
              <g id="Group-2" sketch:type="MSLayerGroup" transform="translate(-22.000000, -11.000000)">
                  <g id="Rectangle-1-+-Rectangle-30-+-Rectangle-30" transform="translate(74.727443, 70.714249) rotate(-31.000000) translate(-74.727443, -70.714249) translate(16.227443, 24.214249)" sketch:type="MSShapeGroup">
                      <path d="M18,46 L116,64.9009154 L37.8480697,93 L18,46 L18,46 Z" id="Rectangle-1" stroke="#979797" fill="#42A2C9"></path>
                      <path d="M116,64 L14.3507695,35 L0,62.1168826 L116,64 Z" id="Rectangle-30" fill="#B3E5F9"></path>
                      <path d="M68.3157415,46.2041038 L75.0678892,0.255589249 L115.315742,60.2555892 L68.3157415,46.2041038 Z" id="Rectangle-30" fill="#B3E5F9"></path>
                  </g>
              </g>
              <text id="STARTDEVELUP" sketch:type="MSTextLayer" font-family="Roboto" font-size="50" font-weight="normal" letter-spacing="0.599999905">
                  <tspan x="119" y="94" fill="#42A2C9">START</tspan>
                  <tspan x="270.852539" y="94" fill="#42A2C8">DEVEL</tspan>
                  <tspan x="420.874022" y="94" fill="#B3E5F9">U</tspan>
                  <tspan x="453.895897" y="94" fill="#B3E5F9">P</tspan>
              </text>
          </g>
        </g>
      </svg>
    </a>


    <nav role="navigation" class="site-nav">

    {% assign pages = site.pages | sort:"weight"  %}

    {% for node in pages %}
      
      {% if node.title %}

        {% if page.url == node.url %}
      <a href="{{node.url}}" class="is-active">{{node.title}}</a>
        {% else %}
      <a href="{{node.url}}">{{node.title}}</a>
        {% endif %}

      {% endif %}

    {% endfor %}

      
   
    </nav>

</header>

    {% if page.image %}


<section class="banner" style="background-image:url({{page.image}})">
  <div class="wrapper">
    <h1 class="banner-title">{{page.title}}</h1>
    <h3 class="subject">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</h3>
  </div>
</section>

    {% else %}

<section class="banner default">
  <div class="wrapper">
    
    <h1 class="banner-title">Hi, I'm Kristoffer</h1>
    <h3 class="subject">{{site.description}}</h3>
    <div><button class="button" onclick="showme()">Say hi</button></div>

    <div class="scrollme">
      <svg width="48px" height="48px" viewBox="0 0 48 48" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">

    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Arrow_scroll" stroke="#FFFFFF" stroke-width="5" stroke-linecap="square">
            <path d="M4.45141602,22.2721142 L24.059648,41.2889134 L43.6530762,22.2721142" id="Line" ></path>
        </g>
    </g>
  </svg>
    </div>
  </div>
  
</section>

{% endif %}
