<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <div class="trigger">
      {% for page in site.pages %}
        {% if page.title %}
        <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
        {% endif %}
      {% endfor %}
    </div>

  </div>

</header>


<section class="banner">
      <div class="wrapper">
        <h1 class="banner-title">Hi, im Kristoffer!</h1>
        <h3 class="subject">Malmoe based <em>lorem ipsum</em> dolor sit amet, consectetur adipisicing elit. Excepturi.</h3>
      </div>


</section>
