.banner{

	background-image:url(../assets/bridge2.jpg);
	background-repeat: no-repeat;
	background-size:cover;
	margin-top:56px;
	background-position:center top;
	color:white;
	overflow-x:hidden;
	position:relative;
	text-align:center;
	padding-bottom:90px;

    &:before{
        content:'';
        display:block;
        position:absolute;
        bottom:0;
        left:0;
        border-width: 90px 900px 0 0;
        border-color: transparent $background-color transparent transparent;
        border-style: solid solid solid dashed;    
    }

	@include media-query($on-laptop) {
		background-size:130%;
		background-attachment:fixed;
		height:100%;
		padding-bottom:180px;

		&:before{
	        border-width: 180px 3200px 0 0;	        
	    }
	    
	}

	@include media-query($on-laptop) {
		background-size:130%;
	}


	.wrapper{	

		padding:15% 20% 20%;

		@include media-query($on-laptop) {
			padding:15% 20% 15%;
		}

		@include media-query($on-desktop) {
			padding:25% 20% 25%;
		}
	}

	.banner-title{
		font-size:70px;
		line-height:1.2em;
		font-family: 'Chewy', cursive;
		letter-spacing: 1.2px;

		@include media-query($on-laptop) {
			font-size:100px;
		}
	}

	.subject{

		font-size:20px;
		line-height:1.35em;

		@include media-query($on-palm) {
			font-size:30px;
		}
	}

	em{
		font-style:normal;
		font-weight:bold;
	}

}