.banner{

	background-image:url(../assets/bridge2.jpg);
	background-repeat: no-repeat;
	background-size:100%;
	background-attachment:fixed;
	background-position:center top;
	color:white;
	position:relative;
	text-align:center;

	.wrapper{	
		padding:15% 20% 35%;
	}

	.banner-title{
		font-size:100px;
		line-height:1.2em;
		font-family: 'Chewy', cursive;
		letter-spacing: 1.2px;
	}

	.subject{

		font-size:30px;
		line-height:1.35em;
	}

	em{
		font-style:normal;
		font-weight:bold;
	}

	&:after{
		content:'';
		display:block;
		position:absolute;
		bottom:0;
		left:0;
		border-width: 230px 0 0 3880px;
		border-color: transparent transparent transparent $background-color;
		border-style: solid solid solid dashed;
	
	}
	
	

}