/**
 * Site header
 */
.site-header {

    min-height: 56px;
    color:white;
    // Positioning context for the mobile navigation icon
    position: fixed;;
    background:$text-color;
    position:fixed;
    top:0;
    left:0;
    right:0;
    z-index:999;
    height:40px;
    box-shadow: 0 4px 5px rgba(0,0,0,0.3);

    @include media-query($on-laptop) {
        height:70px;
    }

    display:flex;
    flex-direction: row;

    .fill{
        flex:1;
    }

    >div{

        line-height:56px;
        padding:0 20px;

        @include media-query($on-laptop) {
            line-height:70px;
        }
    }

}

.site-title {
    font-size: 26px;
    
    letter-spacing: 2px;
    margin-bottom: 0;
    float: left;
    color:white;
    
    font-family: 'Chewy', cursive;
    

    &:hover,
    &:visited {
        color: white;
    }

    

}

.site-nav {
    float: right;
    line-height: 56px;
    color:white;


    .menu-icon {
        display: none;
    }

    .page-link {
        color: white;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    text-align: center;
    background:$text-color;
    padding: $spacing-unit 0;
    position:relative;
    color:white;
    font-size:0.8em;

    .email, .phone{
        font-weight:bold;
        display:inline-block;
    }

}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

/**
 * Page content
 */
.page-content {

    padding: $spacing-unit 0;
    position:relative;
    overflow-x:hidden;
   
    color:#aaa;
/* 
    &:before{
        content:'';
        display:block;
        position:absolute;
        top:-80px;
        left:0;
        border-width: 80px 0 0 1200px;
        border-color: transparent transparent transparent $background-color;
        border-style: solid solid solid dashed;    
    }
    
    @include media-query($on-palm){
        &:before{
            top:-230px;
            left:0;
            border-width: 230px 0 0 3880px;
        }
    } */

}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
