/**
 * Site header
 */
.site-header {

    min-height: 56px;
    background:$brand-color;
    color:white;
    // Positioning context for the mobile navigation icon
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
    //background:$brand-color;
    position:fixed;
    top:0;
    left:0;
    right:0;
    z-index:999;
    height:40px;
    //box-shadow: 0 4px 5px rgba(0,0,0,0.3);

    @include media-query($on-laptop) {
        height:70px;
    }


    flex-direction: row;

    .fill{
        -webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
        -moz-box-flex: 1;         /* OLD - Firefox 19- */
        width: 20%;               /* For old syntax, otherwise collapses. */
        -webkit-flex: 1;          /* Chrome */
        -ms-flex: 1;              /* IE 10 */
        flex: 1;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */
    }

    >div{

        line-height:56px;
        padding:0 20px;

        @include media-query($on-laptop) {
            line-height:70px;
        }
    }

}

.site-title {
    font-size: 20px;
    
    letter-spacing: 2px;
    margin-bottom: 0;
    float: left;
    color:white;
    
    font-family: 'Chewy', cursive;
    

    &:hover,
    &:visited {
        color:white;
    }
    
    @include media-query($on-palm) {
        font-size: 28px;
    }
}

nav[role="navigation"]{

    text-align:center;
    text-transform:uppercase;
    margin-bottom:2em;
    font-size:0;
    
    a, a:visited{
        display:inline-block;
        padding:0 2em;
        margin:0 -5px 0 0;
        color:#bbb;
        border-bottom:3px solid #bbb;


        &:hover, &:focus{
            text-decoration:none;
        }

        &.is-active{
            border-bottom:3px solid $brand-color;
            color:$brand-color;
        }
    }

    @include media-query($on-palm) {
        font-size: 18px;
    }
}

.beardless,.beardless:active, .beardless:focus{
    border-radius:50%;
    width:180px;
    height:180px;
    //border:10px solid darken($background-color, 4%);
    margin-bottom:20px;
    -webkit-user-select: none;
    -webkit-touch-callout: none;  

    &:hover{
        content:url("../assets/krol2.jpg");
    }
}

.me{
        text-align: left;
        padding: 10px 0 0;
        color:$brand-color;
        font-size:15px;

        .name{
            font-weight:bold;
            font-size:18px;
            margin-bottom: 0;
        }

        img, img:active, img:focus{
            border-radius:50%;
            width:180px;
            height:180px;
            border:10px solid darken($background-color, 4%);
            margin-bottom:20px;
            -webkit-user-select: none;
            -webkit-touch-callout: none;  

            &:hover{
                content:url("../assets/krol2.jpg");
            }
        }

    
    }

.site-nav {
    float: right;
    line-height: 56px;
    color:white;


    .menu-icon {
        display: none;
    }

    .page-link {
        color: white;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    text-align: center;
    background:$brand-color;
    padding: $spacing-unit 0;
    position:relative;
    color:white;
    

    .title{
        font-size:30px;
        line-height:1.2em;
        font-family: 'Chewy', cursive;
        letter-spacing: 1.2px;
    }

    .email, .phone{

        display:inline-block;
        padding:0 10px;


        a, a:link, a:hover, a:visited{
            color:white;
        }
    }

}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

/**
 * Page content
 */
.page-content {

    padding: $spacing-unit 0;
    position:relative;
    overflow-x:hidden;
    padding-bottom:90px;
    color:#223344;
/* 
    &:before{
        content:'';
        display:block;
        position:absolute;
        top:-80px;
        left:0;
        border-width: 80px 0 0 1200px;
        border-color: transparent transparent transparent $background-color;
        border-style: solid solid solid dashed;    
    }
    
    @include media-query($on-palm){
        &:before{
            top:-230px;
            left:0;
            border-width: 230px 0 0 3880px;
        }
    } */

    &:before{
        content:'';
        display:block;
        position:absolute;
        bottom:0;
        left:0;
        border-width: 90px 0 0 900px;
        border-color: transparent transparent transparent $brand-color ;
        border-style: solid dashed solid solid;    
    }

    @include media-query($on-laptop){

        padding-bottom:180px;
              &:before{

            border-width: 110px 0 0 3800px;
        }  
    }

}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;


}


.post-item{

    text-align:center;

    figure img{
        border-radius:50%;
        width:200px;
        height:200px;
    }

    margin-bottom: $spacing-unit *3;
    overflow:hidden;
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 34px;
    font-family: 'Chewy', cursive;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
